.optionList {
	width:1400px;
}

.option {
	width:400px;
	margin:10px;
	padding: 10px;
	display:inline-block;
}

.optionButton {
	font: normal 400 medium sans-serif;
	text-align: center;
	width:inherit;
	padding:10px;
	background-color: #ED9121;
	border:1px solid #666;
	color:#000;
	text-decoration: none
}

.optionButton:hover {
	background-color:#FFE4C4;
}

.optionText {
	font: normal 100 medium sans-serif;
}

input {
	line-height: 20px;
	padding:10px;
	width:200px;
}
.buttonHolder {
	width: inherit;
	text-align:center;
	padding:5px;
}

.miscButton {
	font: normal 400 medium sans-serif;
	text-align: center;
	width:inherit;
	padding:10px;
	background-color: #808080;
	border:1px solid #666;
	color:#000;
	text-decoration: none
}

.miscButton:hover {
	background-color:#C0C0C0;
}

.submissionHolder {
	width: inherit;
	text-align:center;
}

.button[type="submit"] {
	font: normal 400 medium sans-serif;
	cursor:pointer;
	text-align: center;
	padding:10px;
	background-color: #00C78C;
	border:1px solid #666;
	moz-border-radius: 10px;
  	-webkit-border-radius: 10px;
	color:#000;
	text-decoration: none
}

.button[type="submit"]:hover {
	background-color: #48D1CC;
}

h1 {
	text-align: center;
}

h3 {
	text-align: center;
}

.notification {
	font: normal 400 medium sans-serif;
	text-align: center;
	padding:10px;
	margin: 10px;
	width: 1400px;
}

.warm {
	background-color:#FF3030;
}

.cold {
	background-color:#1E90FF;
}

.hide {
	display:none;
}